/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
html {
  background-image: url(images/paris-streets.jpg);
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-weight: 300;
  color: #252525;
  z-index: 5;
  opacity: 0.95;
}

/*-- header / navbar --*/

.nav-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 200;
}

.nav-links {
  margin: 0px;
}

.nav-link {
  color: #7e7e7e;
}

.nav-link:hover {
  color: steelblue;
}

.menu-home {
  display: flex;
}

.dropdown-menu {
  background-color: #d6d6d6;
  padding: 2px 0px;
}

.dropdown-item:hover {
  background-color: #737373;
  color: whitesmoke;
}

/*-------------------- navbar / drop down ------------------------------*/

.countries {
  text-align: center;
}

.flag {
  width: 45px;
  margin-right: 5px;
}

#home-link {
  color: whitesmoke;
}

/*--/------------ search section ---------------------*/

.search-container {
  background: #252525;
  ;
  max-width: 80%;
  margin: 60px auto;
  border: 1px solid #a3a3a3;
  padding: 60px;
  border-radius: 10px;
}

.search-title {
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 400;
}

.location-date {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search-input,
.child-selector,
.adult-selector {
  color: #737373;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #737373;
  gap: 20px;
  cursor: pointer;
}

.location-input {
  width: 400px;
}

.location-selector,
.check-in-selector,
.check-out-selector {
  color: #737373;
  display: flex;
  flex-direction: column;
}

.date-selector {
  display: flex;
  gap: 10px;
}

.child-room-selectors {
  display: flex;
  padding: 20px 0px;
}

.child-selector,
.adult-selector {
  width: 100px;
}

.child-age-selectors {
  display: flex;
  align-items: center;
}

.child-age-selector {
  margin-left: 20px;
}

.form-check-input {
  cursor: pointer;
}

.child-age {
  color: #737373;
  margin-right: 20px;
}

.adult {
  margin-left: auto;
}

.rooms-count-selector {
  margin-left: auto;
  color: #737373;
  margin-right: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 10px;
}

.count-btn {
  cursor: pointer;
  width: 30px;
  height: 100%;
  border: none;
  font-size: 20px;
  background-color: #73737373;
}

.count-btn:hover {
  font-size: 25px;
  transition: ease-in-out 0.2s;
  background-color: steelblue;
}

.room-count {
  margin: 0px 30px;
  font-size: 20px;
  font-weight: 500;
  color: #252525;
}

.room-selector-label {
  margin: 0px 10px;
}

.search-btn-section {
  text-align: center;
}

.search-btn {
  background-color: steelblue;
  padding: 5px 30px;
  width: 120px;
  border-radius: 10px;
  border: none;
}

.search-btn:hover {
  background-color: skyblue;
}

/*------------- Popular destinations Section  -----------*/
.popular-section {
  padding: 30px 0px;
  background-color: #252525;
}

.popular-container {
  max-width: 90%;
  margin: 0px auto;
}

.section-title {
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
  margin-left: 65px;
}

.popular-destinations {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 90%;
  margin: 0pc auto;
  gap: 40px;
}

.popular-destinations-card {
  padding-top: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: whitesmoke;
  width: 800px;
}

.popular-destinations-card:hover {
  box-shadow: 0px 0px 5px 3px steelblue;
}

.popular-destinations-card-title {
  font-size: 14px;
  font-weight: 700;
  margin-left: 5px;
}

.destination-card-img {
  width: 400px;
}

.destination-card-img:hover {
  transform: scale(1.1);
  transition: ease-in 0.3s;
  cursor: pointer;
}

/*------------- About Us Section  -----------*/
.about-us {
  background-color: whitesmoke;
  padding: 60px 0px;
}

.about-us-txt {
  padding: 40px;
  width: fit-content;
  margin: 0px auto;
  color: whitesmoke;
  background-color: #252525;
  border-radius: 10px;
}

/*------------------------- Footer Section  ------------------------------*/
.footer-container {
  background-color: #252525;
  padding: 20px 0px;
}

.footer {
  background-color: #252525;
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-us-btn {
  color: #737373;
  background: transparent;
  border: none;
  text-decoration: underline;
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  border-bottom: 1px solid #a3a3a363;
  padding-bottom: 20px;
}

.socials {
  font-size: 24px;
  margin-left: 10px;
  cursor: pointer;
}

.socials:hover {
  color: steelblue;
  transform: scale(1.2);
}

.copyright {
  padding-top: 20px;
  text-align: center;
  color: #73737371;
  margin-bottom: 0px;
}

#contact-btn:hover {
  color: steelblue;
  text-decoration: overline;
  z-index: 1;
}

#whiteLableTravel-link {
  color: inherit;
}

#whiteLableTravel-link:hover {
  color: steelblue;
}

/*------------------------- Modal Section  ------------------------------*/


.modal-content {
  border: 3px solid steelblue;
}

.modal-header {
  background-color: #252525;
  color: #737373;
}

.modal-footer {
  background-color: #252525;
  color: #737373;
}

.contacts {
  font-weight: 700;
}

.contacts-info {
  font-weight: 500;
}

.modal-body p {
  padding-left: 20px;
}