/* 
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
*/
body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  font-weight: 300;
  color: #252525;
}

/*-- header / navbar --*/

.nav-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 200;
}

.nav-links {
  margin: 0px;
}

.nav-link {
  color: #7e7e7e;
}

.nav-link:hover,
:active {
  color: whitesmoke;
}

.nav-link:active {
  color: white;
}

.menu-home {
  display: flex;
}

.dropdown-menu {
  background-color: #d6d6d6;
  padding: 2px 0px;
}

.dropdown-item:hover {
  background-color: #737373;
  color: whitesmoke;
}

/*-- navbar / drop down --*/

.countries {
  text-align: center;
}

.flag {
  width: 45px;
  margin-right: 5px;
}

#home-link {
  color: whitesmoke;
}

/*-- search section --*/

.search-container {
  background-color: #252525;
  width: 90%;
  margin: 50px auto;
  border: 1px solid #a3a3a3;
  padding: 40px;
  border-radius: 10px;
}

.search-title {
  color: whitesmoke;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.location-date {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.search-input,
.child-selector,
.adult-selector {
  color: #737373;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid #737373;
  gap: 20px;
  cursor: pointer;
}

.location-input {
  width: 400px;
}

.location-selector,
.check-in-selector,
.check-out-selector {
  color: #737373;
  display: flex;
  flex-direction: column;
}

.date-selector {
  display: flex;
  gap: 10px;
}

.child-room-selectors {
  display: flex;
  padding: 20px 0px;
}

.child-selector,
.adult-selector {
  width: 100px;
}

.child-age-selectors {
  display: flex;
  align-items: center;
}

.child-age-selector {
  margin-left: 20px;
}

.form-check-input {
  cursor: pointer;
}

.child-age {
  color: #737373;
  margin-right: 20px;
}

.adult {
  margin-left: auto;
}

.rooms-count-selector {
  margin-left: auto;
  color: #737373;
  margin-right: 0px;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 10px;
}

.count-btn {
  cursor: pointer;
  width: 30px;
  height: 100%;
  border: none;
  background-color: #73737373;
}

.room-count {
  margin: 0px 30px;
}

.room-selector-label {
  margin: 0px 10px;
}